{{$root := .}}
<script type="text/javascript" src="/static/acl.js"></script>
<link rel="stylesheet" type="text/css" href="/static/acl.css" media="screen"/>

Go to ACL:
<select id="acl-selection">
  <option value="">[no ACL selected]</option>
  {{range .ACLs}}
  <option value="{{.ACLID}}"{{if aclIDEQ $root.Current.ACLID .ACLID}} selected{{end}}>{{.Comment}}</option>
  {{end}}
</select>

New ACL:
<input type="text" id="new-acl" />

{{if .Current.ACLID}}
<h2>ACL: {{.Current.Comment}}</h2>

<input type="button" id="button-move" value="move" disabled /> to
<select id="acl-move-selection">
  <option value="">[no ACL selected]</option>
  {{range .ACLs}}
  <option value="{{.ACLID}}">{{.Comment}}</option>
  {{end}}
</select>

<table id="acl-rules" class="standard">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>Rule ID</th>
      <th>Type</th>
      <th>Value</th>
      <th>Action</th>
      <th>Comment</th>
    </tr>
  </thead>
  <tbody>
    {{range .Rules}}
    <tr id="acl-rules-row-{{.RuleID}}">
      <td class="acl-rules-row-selected" data-ruleid="{{.RuleID}}"></td>
      <td><input type="checkbox" class="checked-rules" data-ruleid="{{.RuleID}}" /></td>
      <td class="min fixed uuid">{{.RuleID}}</td>
      <td class="min"><select>
	  {{$current := .}}
	  {{range $root.Types}}
	  <option value="{{.}}"{{if eq . $current.Type}} selected{{end}}>{{.}}</option>
	  {{end}}
      </select></td>
      <td class="max"><input type="text" class="maxwidth" value="{{.Value}}" /></td>
      <td class="min"><select>
	  {{$current := .}}
	  {{range $root.Actions}}
	  <option value="{{.}}"{{if eq . $current.Action}} selected{{end}}>{{.}}</option>
	  {{end}}
      </select></td>
      <td class="max"><input type="text" class="max" value="{{.Comment}}" /></td>
    </tr>
    {{end}}
  </tbody>
</table>
{{end}}
