{{$root := .}}
<script type="text/javascript" src="/static/acl.js"></script>
<ul>
  <select id="acl-selection">
    <option value="">[no ACL selected]</option>
    {{range .ACLs}}
    <option value="{{.ACLID}}"{{if aclIDEQ $root.Current.ACLID .ACLID}} selected{{end}}>{{.Comment}}</option>
    {{end}}
  </select>
</ul>
{{if .Current.ACLID}}
<h2>ACL: {{.Current.Comment}}</h2>
<table>
  <thead>
    <tr>
      <th>Rule ID</th>
      <th>Type</th>
      <th>Value</th>
      <th>Action</th>
      <th>Comment</th>
    </tr>
  </thead>
  <tbody>
    {{range .Rules}}
    <tr>
      <td class="fixed">{{.RuleID}}</td>
      <td>{{.Type}}</td>
      <td>{{.Value}}</td>
      <td>{{.Action}}</td>
      <td>{{.Comment}}</td>
    </tr>
    {{end}}
  </tbody>
</table>
{{end}}
