<script type="text/javascript" src="/static/main.js"></script>
<link rel="stylesheet" type="text/css" href="/static/main.css" media="screen"/>

<h2>Latest blocked URLs</h2>

<button id="pause-scroll">Pause scroll</button>
<button id="refresh-tail">Refresh</button>
<select id="action">
  <option value="allow">Allow</option>
  <option value="ignore">Ignore</option>
</select>
<div id="error-messages"></div>
<p class="messages" id="test"></p>
<table id="latest" class="latest standard">
  <thead>
    <tr>
      <th>Time</th>
      <th>Add rule</th>
      <th>Client</th>
      <th>Method</th>
      <th>Host</th>
      <th>Path</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>

