{{$root := .}}
<script type="text/javascript" src="/static/members.js"></script>
<!-- <link rel="stylesheet" type="text/css" href="/static/members.css" media="screen"/> -->
Go to group:
<select id="members-group-selection">
  <option value="">[no group selected]</option>
  {{range .Groups}}
  <option value="{{.GroupID}}"{{if groupIDEQ $root.Current.GroupID .GroupID}} selected{{end}}>{{.Comment}}</option>
  {{end}}
</select>

<br/>
{{if .Current.GroupID}}
<button id="action-save" disabled>Save</button>


<table class="standard">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>ID</th>
      <th>Addr</th>
      <th>Source</th>
      <th>Membership comment</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td class="min"><input type="checkbox" disabled checked /></td>
      <td>New</td>
      <td><input type="text" id="new-member-addr" /></td>
      <td><input type="text" id="new-member-source" /></td>
      <td><input type="text" id="new-member-comment" /></td>
      <td><button id="action-new">Create</button></td>
    </tr>
    {{range .Sources}}
    <tr id="members-row-{{.Source.SourceID}}">
      <td></td>
      <td class="min"><input type="checkbox" class="members-source-checked" data-sourceid="{{.Source.SourceID}}"{{if .Active}} checked{{end}} /></td>
      <td>{{.Source.SourceID}}</td>
      <td>{{.Source.Source}}</td>
      <td>{{.Source.Comment}}</td>
      <td><input type="text" class="members-comment" data-sourceid="{{.Source.SourceID}}" value="{{.Comment}}" {{if .Active}}{{else}}disabled {{end}}/></td>
      <td><button class="action-delete" data-sourceid="{{.Source.SourceID}}" {{if .Active}}disabled{{end}}>Delete</button></td>
    </tr>
    {{end}}
  </tbody>
</table>
{{end}}

