<html>
  <head>
    <title>Squidwarden</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="/static/squidwarden.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/squidwarden.css" media="screen"/>
  </head>
  <body>
    <input type="hidden" id="csrf" value="{{ .CSRF }}" />
    <div id="nav">
      <a href="/">Squidwarden</a>
      <a href="/acl/">ACLs</a>
      <a href="/access/">Access</a>
      <a href="/members/">Members</a>
      <span id="nav-time">{{.Now}}</span>
      <span id="nav-about"><a href="/about">About squidwarden {{.Version}}</a></span>
    </div>
    <div id="loading"></div>
    <div id="content">{{.Content}}</div>

    <div id="loading-window"><img src="/static/loading.gif" /></div>

    <div id="error-window">
      <div id="error-window-content">
	<h1>Error: <span id="error-window-title"></span></h1>
	<p id="error-window-body">hello</p>
	<h2>Links</h2>
	<div id="error-window-links">
	  <ul>
	  </ul>
	</div>
	<button id="error-window-close">Close</button>
      </div>
    </div>
  </body>
</html>
