body {
    padding: 0;
    margin: 0;
}
#nav {
    color: black;
    background-color: #ccf;
    font-size: 16pt;
    padding: 5px;
}
#content {
    margin-left: 5px;
    margin-right: 5px;
}
.fixed {
    font-family: monospace;
}
#nav-time {
    float: right;
    display: inline-block;
    padding-left: 10em;
    font-size: 12pt;
}
